* {
  padding: 0px;
  margin: 0px;
} 

body {
  background-color: #2F4F4F;
  text-align: center;
} 

h1 {
  color: #1fa7e8;
  font: 80px tahoma;
}

#canvasDiv {
  margin: 50px auto 10px;
}


a {
  text-align: center;
  text-decoration: none;
  color: #F8F8FF;
  text-shadow: 2px 2px 5px lightgray;
  font: 30px tahoma;
}


.gamebutton {
  box-shadow: 10px 10px 40px #1c1c1c;
  -webkit-transition: -webkit-transform 1s;
  -ms-transition: -ms-transform 1s;
  -o-transition: -o-transform 1s;
  -moz-transition: -moz-transform 1s;
  transition: transform 1s;
}


canvas:hover {
  height: 199px;
  opacity: 0.5;
  width: 201px;
}

button:hover { 
  opacity: 0.7;
}

#blue {
  background-color: #08BDBD;
 
}

#green {
  background-color: #29BF12;
 
}

#red {
  background-color: #F21B3F;
 
}

#yellow {
  background-color: #FFD700;
}

button
{
  border: 0;
  margin: 0;
  width: 300px;
  height: 50px;
  background-color: #FF0000;
}



